{% extends 'base.html' %}

{% block content %}   
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Dicebox Stores...</p>
                </div>
            </div>
        </header>
        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        					<br></br>
        				<p align="justify">
        				Dicebox Stores is an online furniture retailer specializing in stylish and modern pieces designed to elevate the look of any space. Catering to a wide range of tastes and preferences, Dicebox Stores offers a curated selection of furniture that combines both functionality and aesthetic appeal, ensuring that customers can find the perfect items to complement their homes or offices.
        				<br></br>

From sleek sofas and chic coffee tables to minimalist dining sets and statement chairs, Dicebox Stores is committed to providing high-quality furniture that reflects contemporary design trends. Every piece is carefully selected to ensure durability and craftsmanship, so customers not only get beautiful furniture but also long-lasting comfort and use.
<br></br>
With an easy-to-navigate online platform, customers can browse through various categories, exploring the latest arrivals and popular items. The store emphasizes user-friendly shopping experiences, offering detailed product descriptions and visuals to help buyers make informed decisions.
<br></br>
Dicebox Stores also stands out for its commitment to affordability without compromising on style. By offering regular sales and exclusive deals, customers can enjoy designer-quality furniture at competitive prices, making it a go-to destination for anyone looking to refresh their living spaces with flair and elegance.
</p>
<br></br>






        			</div>
        		</center>
        </div>
{% endblock %}  